---
import TechText from './TechText.astro';
import TechLink from './TechLink.astro';
import TechTag from './TechTag.astro';

interface Props {
  title: string;
  description: string;
  technologies: string[];
  link?: string;
  github?: string;
}

const { title, description, technologies, link, github } = Astro.props;
---

<div class="tech-card">
  <TechText variant="h3">{title}</TechText>
  <TechText variant="body" class="mt-2 mb-4">{description}</TechText>
  <div class="flex gap-2">
    {technologies.map(tech => (
        <TechTag>{tech}</TechTag>
      ))}
  </div>

  {(link || github) && (
    <div class="flex gap-4 pt-2">
      {link && (
        <TechLink href={link} external arrow>
          Live Demo
        </TechLink>
      )}
      {github && (
        <TechLink href={github} external arrow>
          Source
        </TechLink>
      )}
    </div>
  )}
</div>
